@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the management module which is a module that allows management of products. These are some words describing the functionality of the management module.</p>
</div>
